<div class="grid text-layout">
    <div class="col-12">
        <p-card>
            <ng-template pTemplate="header">
                <div class="text-center">
                    <h1>Gestión Clientes</h1>
                </div>
            </ng-template>
            <form [formGroup]="clienteForm">
                <div class="grid border-1 border-300 border-round">
                    <div class="col-6">
                        <div class="field">
                            <label for="nombresPersona" class="block">Nombres:</label>
                            <input type="text" pInputText placeholder="Nombres" formControlName="nombresPersona" />
                            <small  class="p-error block"
                                *ngIf="verificarCampo('nombresPersona')">
                                Campo requerido.
                            </small>
                        </div>
                        <div class="field">
                            <label for="apellidosPersona" class="block">Apellidos:</label>
                            <input type="text" pInputText placeholder="Apellidos" formControlName="apellidosPersona" />
                            <small  class="p-error block"
                                *ngIf="verificarCampo('apellidosPersona')">
                                Campo requerido.
                            </small>
                        </div>
                        <div class="field">
                            <label for="cedulaPersona" class="block">Cédula:</label>
                            <input type="text" pInputText placeholder="cédula" formControlName="cedulaPersona" />
                            <small  class="p-error block"
                                *ngIf="verificarCampo('cedulaPersona')">
                                {{cedulaErrorMsg()}}
                            </small>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="field">
                            <label for="emailPersona" class="block">E-mail:</label>
                            <input type="email" Class="w-5" pInputText placeholder="Email" formControlName="emailPersona"/>
                            <small  class="p-error block"
                                *ngIf="verificarCampo('emailPersona')">
                                Campo requerido
                            </small>
                        </div>
                        <div class="field">
                            <label for="tipoCliente" class="block">Tipo Cliente:</label>
                            <p-dropdown [options]="tiposCliente" 
                                        placeholder="Seleccione..." 
                                        optionLabel="descripcionTipoCliente"
                                        [showClear]="true"
                                        formControlName="tipoCliente"
                                        styleClass="w-5">                                
                            </p-dropdown>
                            <small  class="p-error block"
                                *ngIf="verificarCampo('tipoCliente')">
                                Campo requerido
                            </small>
                        </div>
                        <div class="field">
                            <label for="telefonoCliente" class="block">Teléfono/Móvil:</label>
                            <input  type="text" 
                                    pInputText
                                    Class="w-5"
                                    placeholder="número" formControlName="telefonoCliente"> 
                            <small  class="p-error block"
                                *ngIf="verificarCampo('telefonoCliente')">
                                {{numErrorMsg('telefonoCliente')}}
                            </small>
                        </div>
                    </div>
                </div>
            </form>
            <!-- buttons -->
            <div class="grid">
                <hr>
                <div class="col-12 flex justify-content-evenly mt-2">
                    <button pButton pRipple type="button" label="Guardar" class="w-2" (click)="realizarAccion()"></button>
                    <button pButton pRipple type="button" label="Eliminar" class="p-button-danger w-2" *ngIf="id && selectedCliente" (click)="eliminar($event)"></button>
                    <button pButton pRipple type="button" label="Cancelar" class="p-button-raised p-button-text w-2" [routerLink]="'/dashboard/cliente'"></button>
                </div>
            </div>
        </p-card>
    </div>
</div>
<!-- popup de confirmacion de eliminar  -->
<p-confirmPopup></p-confirmPopup>
