<div class="grid text-layout">
    <div class="col-12">
        <p-card>
            <ng-template pTemplate="header">
                <div class="text-center">
                    <h1>Compras</h1>
                </div>
            </ng-template>
            <div class="grid">
                <div class="col-12">
                    <div class="flex justify-content-between flex-wrap">
                        <button pButton pRipple type="button" class="p-button-success" label="Nuevo" [routerLink]="['/dashboard/compra/gestion/crear']" icon="pi pi-plus"></button>
                        <div class="">
                            <input type="text" pInputText placeholder="Buscar por código" [(ngModel)]="termino" (keyup)="verificarTermino()" (keyup.enter)="buscarPorTermino()">
                            <button pButton pRipple type="button" icon="pi pi-search" (click)="buscarPorTermino()"></button>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <p-table [value]="compras" [autoLayout]="true" [rows]="5" [paginator]="true" responsiveLayout="scroll" [rowHover]="true" dataKey="id" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} Venta" [showCurrentPageReport]="true">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="codigoVenta">Código Fact.
                                    <p-sortIcon field="codigoCompra"></p-sortIcon>
                                </th>
                                <th pSortableColumn="fechaCompra">Fecha
                                    <p-sortIcon field="fechaCompra"></p-sortIcon>
                                </th>
                                <th pSortableColumn="subTotalCompra">Subtotal
                                    <p-sortIcon field="subTotalCompra"></p-sortIcon>
                                </th>
                                <th pSortableColumn="ivaTotalCompra">IVA
                                    <p-sortIcon field="ivaTotalCompra"></p-sortIcon>
                                </th>
                                <th pSortableColumn="totalCompra">Total
                                    <p-sortIcon field="totalCompra"></p-sortIcon>
                                </th>
                                <th>Acciones</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-compra>
                            <tr>
                                <td>{{compra.codigoCompra}}</td>
                                <td>{{compra.fechaCompra}}</td>
                                <td>{{compra.subTotalCompra | currency: 'USD'}}</td>
                                <td>{{compra.ivaTotalCompra | currency: 'USD'}}</td>
                                <td>{{compra.totalCompra | currency: 'USD'}}</td>
                                <td>
                                    <div class="grid">
                                        <div class="col-12">
                                            <div class="flex justify-content-between flex-wrap">
                                                <button pButton pRipple type="button" class="p-button-help" icon="pi pi-eye" (click)="showDialog(compra)">
                                                </button>
                                                <button pButton 
                                                        pRipple 
                                                        type="button" 
                                                        class="p-button-warning" 
                                                        icon="pi pi-pencil" 
                                                        *ngIf="compra.estadoCompra === true"
                                                        [routerLink]="['/dashboard/compra/gestion/editar', compra.idCompra]">
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            <div class="flex align-items-center justify-content-between">
                                En total existen {{compras ? compras.length : 0 }} compras.
                            </div>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </p-card>
    </div>
</div>

<p-dialog header="Detalles" [(visible)]="displayDetalles" [breakpoints]="[{'960px': '75vw'}]" [style]="{width: '30vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false" (onHide)="closeDialog()">
    <div class="grid" *ngIf="selectedCompra">
        <div class="col-12 text-center">
            <h5>Bar Escolar</h5>
        </div>
        <div class="col-12 flex justify-content-between">
            <span>Cuenca</span>
            <span>{{diaActual | date: 'YYYY-M-dd'}}</span>
            <span>HORA: {{ diaActual | date: 'mediumTime'}}</span>
        </div>
        <div class="col-12">
            Cod. Fact: {{selectedCompra.codigoCompra}}
            <br>
            Proveedor: {{selectedCompra.proveedor?.nombreProveedor}}
            <br> RUC: {{selectedCompra.proveedor?.rucProveedor}}
            <br> Tel/Mov: {{selectedCompra.proveedor?.telefonoProveedor || selectedCompra.proveedor?.movilProveedor || 'N/A'}}
            <hr>
        </div>
        <table class="w-full">
            <thead>
                <tr>
                    <th class="text-left">Cant.</th>
                    <th class="text-left">Producto</th>
                    <th class="text-left">Precio Uni.</th>
                    <th class="text-left">Valor</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of selectedCompra.items">
                    <td>{{item.cantidadDetalleCompraProducto}}</td>
                    <td>{{item.producto?.descripcionProducto}}</td>
                    <td>{{item.precioDetalleCompraProducto}}</td>
                    <td>{{item.totalDetalleCompraProducto}}</td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td>SUBTOTAL:</td>
                    <td>{{selectedCompra.subTotalCompra}}</td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td>IVA{{selectedCompra.ivaCompra}}%:</td>
                    <td>{{selectedCompra.ivaTotalCompra}}</td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td><b>TOTAL:</b></td>
                    <td>{{selectedCompra.totalCompra}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <ng-template pTemplate="footer">
        <p-button (click)="closeDialog()" label="Cerrar" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>