<div class="grid text-layout">
    <div class="col-12">
        <p-card>
            <ng-template pTemplate="header">
                <div class="text-center">
                    <h1>Reporte Compras</h1>
                </div>
            </ng-template>
            <p-table  [value]="compras"   responsiveLayout="scroll" [rows]="10" 
                [rowsPerPageOptions]="[10,25,50]" [loading]="loading"
                [paginator]="true" currentPageReportTemplate="motrando {first} to {last} de {totalRecords} productos">
                <ng-template pTemplate="caption">
                    <div class="grid">
                        <div class="col-6">
                            <div class="flex justify-content-between ">
                                <p-calendar inputId="basic" appendTo="body" [(ngModel)]="fechaInicio"  placeholder="Fecha Inicio"></p-calendar>
                                <p-calendar inputId="basic" appendTo="body" [(ngModel)]="fechaFin"  placeholder="Fecha Fin"></p-calendar>
                                <button type="button" pButton 
                                        pRipple label="Filtrar Búsqueda" 
                                        class="p-button-success"
                                        (click)="getComprasPorFechas()"></button>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="flex justify-content-between align-items-center">
                                <button type="button" pButton 
                                        pRipple icon="pi pi-file-pdf" 
                                        label="Generar PDF" class="p-button-warning mr-2" 
                                        (click)="generarPdf()"></button>
                                <input type="text" pInputText placeholder="Buscar por ruc/cédula" [(ngModel)]="termino" (keyup)="verificarTermino()" (keyup.enter)="buscarPorTermino()"> 
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th>Código</th>
                        <th>Proveedor</th>
                        <th>RUC/CI</th>
                        <th>Fecha</th>
                        <th>SubTotal</th>
                        <th>IVA</th>
                        <th>Total</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-compra >
                    <tr >
                        <td >
                            {{compra.codigoCompra}}
                        </td>
                        <td >
                            {{compra.proveedor.nombreProveedor}}
                        </td>
                        <td >
                            {{compra.proveedor.rucProveedor}}
                        </td>
                        <td >
                            {{compra.fechaCompra}}
                        </td>
                        <td >
                            {{compra.subTotalCompra | currency: 'USD'}}
                        </td>
                        <td >
                            {{compra.ivaTotalCompra | currency: 'USD'}}
                        </td>
                        <td >
                            {{compra.totalCompra | currency: 'USD'}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>
    </div>
</div>

